.container-big
  .logo
    #big-logo
      .img
    #title-little
      %h2="< it's about sharing knowledge >"
  .introduce
    #photo
      .img
      .text
        %p CodeAngels is a team of professional and experienced web developers who passionate about what they doing. and want to expand the boarders of IIT community in Ukraine. We share our knowledges by handling meetups and free courses for web developers.  If you're smart and curious person who loves coding. you should definitely visit our courses and events.
.infoRoR
  .title
    %h2
      %span
        .znak-sprite-n 
        Ruby/Ruby on Rails course
        .znak-sprite-k   
    .line-max
  .intro-column
    .text-block
      %p You'll learn everything you need to know about Ruby to be a productive programmer. And it'll take you a step further. You'll also learn Ruby design principles and techniques to help you become a better all-around Ruby programmer. You'll learn exactly how all the pieces go together, and you'll come away with the confidence that truly understand Ruby. Ruby on Rails is a breakthrough in lowering the barriers of entry to programming. Powerful web applications that formerly might have taken weeks or months to develop can be produced in a matter of days.
    .apply-block
      .closed  
        %p Apply 
        %input#go{:type => "submit", :onclick => "ApplyBlock()"}/
      .block-dicorate-1


  .description-column
    .description
      %p With the series of lections and practical workshops you will learn how to use such powerful tools  Ruby programming language and Ruby on Rails framework.
      .text-programm
        %dt The basic topics include:
        %dt &emsp;&emsp;> Programming with Ruby
        %dt &emsp;&emsp;> Meta-programming Ruby
        %dt &emsp;&emsp;> Efficient WEB-applications development based on Ruby on Rails
        %dt &emsp;&emsp;> Test-driven development practices (TDD, BDD, RSpec)
        %dt &emsp;&emsp;> Recipes, templates, tools, programming techniques for Ruby/Rails developer
        %dt &emsp;&emsp;> Work using Extreme Programming practices
        %dt &emsp;&emsp;> Projects development using Scrum methodology
    .block-dicorate-2
    .block-dicorate-3
    .block-dicorate-4
.info-JS
  .title
    %h2
      %span
        .znak-sprite-n 
        JavaScript on Rails course
        .znak-sprite-k 
    .line-max
  .intro-column
    .text-block
      %p You'll learn everything you need to know about JavaScript to be a productive programmer. You'll learn libraries and frameworks that will help you to build web applications quickly and efficiently. You will also know what should be done when things go wrong and you face the problem. It is critical to know how and why everything works. We'll demonstrate optimal ways to load code onto page, and show some tips that help you JavaScript run as efficiently and quickly as possible. You'll learn the best practices to build and deploy you files to production environment, and how to use tools that can rapidly help you to find out any problems once you put your site on a Web server.
    .apply-block
      .expanded
        .component
          .title-form
            %p Participation request
          .block-form
            =render 'form'
      .block-dicorate-1
      .block-dicorate-5
      .block-dicorate-6
  .description-column
    .description
      %p With the series of lections and practical workshops you will learn how to use such powerful tools as JavaScript programming language and JS frameworks and tips.
      .text-programm
        %dt The basic topics include:
        %dt &emsp;&emsp;> Programming with JavaScript
        %dt &emsp;&emsp;> High level JS languages (CoffeeScript, TypeScript)
        %dt &emsp;&emsp;> Popular JS frameworks (Backbone.js, Angular.js, Marionette.js…)
        %dt &emsp;&emsp;> Testing JS applications (Jasmine, Mocha…)
        %dt &emsp;&emsp;> Speeding page loading time using varios techincs
        %dt &emsp;&emsp;> HTML and CSS basics
    .block-dicorate-7
    .block-dicorate-8
.angels
  .title-angels
    %h2 
      %span
        .znak-sprite-n
        Angels 
        .znak-sprite-k 
    .line-min
  #block-grid-picture-angel
    %ul
      %li.angel-1
        .img
          = image_tag("ang.png", :border => 0, :size => "317x328")
        .name-angel
          %p Daenerys Targaryen
        .znack-direction-1
        .description-angel-1
          %p= "Daenerys Targaryen is the exiled princess of the Targaryen dynasty. Also called 'the Stormborn'. she and her brother Viserys were smuggled to Essos during the end of Robert's Rebellion. Viserys marries her to the powerful Dothraki warlord Khal Drogo."      
      %li.angel-2
        .img
          = image_tag("ang.png", :border => 0, :size => "318x328")
        .name-angel
          %p Daenerys Targaryen
        .znack-direction-2
        .description-angel-2
          %p
      %li.angel-3
        .img
          = image_tag("ang-2.png", :border => 0, :size => "317x328")
        .name-angel
          %p Jon Snow
        .znack-direction-3
        .description-angel-3
          %p= "Jon Snow is the bastard son of Nod Stark who joins the Night's Watch/ Jon is a talented fighter, but his sense of compassion and justice brings him into conflict with his harsh surroundings. His dire wolf is called Ghost due to his albinism."
      %li.angel-4
        .img
          = image_tag("ang.png", :border => 0, :size => "317x328")
        .name-angel
          %p Daenerys Targaryen
        .znack-direction-4
        .description-angel-4
          %p
      %li.angel-5
        .img
          = image_tag("ang-3.png", :border => 0, :size => "318x328")
        .name-angel
          %p Tyrion Lannister
        .znack-direction-5
        .description-angel-5
          %p=  "Nicknamed 'The lmp'. Tyrion Lannister is the younger brother of Cersei and Jaime Lannister. He is a dwarf: and his mother died during his birth, for which his father. Tywin Lannister. blames him. White not physically powerful. Tyrion has a cunning mind."
      %li.angel-6
        .img
          = image_tag("ang.png", :border => 0, :size => "317x328")
        .name-angel
          %p Daenerys Targaryen
        .znack-direction-6
        .description-angel-6
          %p