!!!
%html
%head
  %title= "CodeAngels"

  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  :javascript
      function ApplyBlock() {
         document.write('Вы нажали на кнопку!');
      }
%body
  %header
    .wrapper
      #small-logo
        .img
      #menu
        %nav
          %a{href: "#"}="Home"
          %a.active{href: "#"}="Ruby/RoR Course"
          %a{href: "#"}="JS Course"  
          %a{href: "#"}="Coaches"          
  #content
    = yield
  %footer
    .wrapper
      %dl
        %dt contact: info@rubygarage.org
        %dd &copy; 2012-2013 RubyGarage 